<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> THE WHEEL HOUSE </title>
    {% load static %}
    <style>
        footer {
            background-color: #333;
            color : blue
            text-align: center;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 40px;
        }
    </style>
</head>
<body>

    {% block content %}{% endblock %}

    <footer>
        &copy; {{ current_year }} Our Restaurant. All rights reserved.
    </footer>
<p> Tell other to review </p>
<p> D review us </p>
</body>
</html>

